html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    font-family: 'Open Sans Condensed', sans-serif;
}

.footer-container {
    background-color: grey;
    display: table-row;
    background-color: #F2F5F3;
    height: 100px;
    text-align: center;
}

.footer-content {
    display: inline-block;
    background: #e7eae8;
    padding: 0.75em 2em 0.75em 2em;
    border-radius: 8px;
    font-size: 0.85em;
    color: #8b9790;
    margin-top: 20px;
}

.footer-border {
    border-top: 8px solid #C1CAC5;
    width: 100%;
}

.navbar {
    border-bottom: none;
    box-shadow: none;
    li {
        transition: top .15s ease-in-out;
        margin-left: 20px;
        a {
            color: #6b7770;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            transition: background-color .075s ease-in-out, color .075s ease-in-out;
        }
        i.fa {
            margin-right: 5px;
        }
    }
    a:hover {
        top: 3px;
    }
}

.navbar-inverse {
    background-color: #FAFAFA;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #AFAEAE;
	color: #fff;
}

.navbar-inverse .navbar-nav>li:hover {
    background-color: #AFAEAE;
}

.navbar-inverse .navbar-brand:hover {
    color: #6b7770;
}

.navbar-inverse .navbar-nav>li>.menu-active {
    background-color: #e3daa8;
	color: #fff;
    top: 3px;
}

.navbar-inverse .navbar-nav>li>.menu-active:hover {
    background-color: #e3daa8;
}

.navbar-inverse .navbar-nav>li.menu-active {
    background-color: #e3daa8;
}

.navbar-inverse .navbar-nav>li.menu-active:hover {
    background-color: #e3daa8;
}

.navbar-toggle {
    background-color: #6b7770;
    
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-collapse {
    border-color: transparent;
}

.body-content {
    margin-bottom: 20px;
}

.add-button-container {

}
