.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.gridster .gridster-item {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.static-gridster .gridster-item {
    box-shadow: none;
}

.body-content {
    margin-top: 50px;
}

.add-button-container {
    padding: 8px;
    border: 1px solid #000000;
    .border-radius(5px);
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.row {
    margin-right: 0;
}

.widget-header-container {
    margin-top: 10px;

    i {
        float: right;
        margin-right: 10px;
    }
}

.modal-content {
    .modal-header {
        border-bottom: 0;

        i {
            float: right;
        }
    }
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 900px;
    }
}

.module-select-container {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
