<div class="admin-module-select-container">
    <select ng-if="modules" ng-change="onModuleChange()" ng-model="currentModuleId">
        <option ng-repeat="module in modules" value="{{module.id}}">{{module.label}}</option>
    </select>
</div>
<div class="add-button-container" ng-click="addNewElement()">
    <i class="fa fa-plus"></i>
    <span>{{'ADD' | translate}}</span>
</div>
<form name="form" class="css-form" novalidate>
    {{'MODULE_NAME' | translate}}
    <input type="text" ng-model="module.name" name="mName" required="" />
    <br />
    <div ng-show="form.$submitted || form.mName.$touched">
        <div ng-show="form.mName.$error.required">{{'MODULE_NAME_REQUIRED' | translate}}</div>
    </div>

    {{'MODULE_URL' | translate}}
    <input type="text" ng-model="module.url" name="mUrl" required="" module-url />
    <br />
    <div ng-show="form.$submitted || form.mUrl.$touched">
        <span ng-show="form.mUrl.$error.required">{{'MODULE_URL_REQUIRED' | translate}}</span>
        <span ng-show="form.mUrl.$error.moduleUrl">{{'MODULE_URL_ALREADY_TAKEN' | translate}}</span>
    </div>

    {{'MODULE_TYPE' | translate}}
    <select type="text" ng-model="module.moduleType" name="mType" required="" ng-options="item.id as item.label for item in types track by item.id"></select>
    <br />
    
    {{'MODULE_MENU_POSITION' | translate}}
    <input type="number" ng-model="module.menuPosition" name="mPosition" required="" />
    <br />
    <div ng-show="form.$submitted || form.mName.$touched">
        <div ng-show="form.mName.$error.required">{{'MODULE_MENU_POSITION_REQUIRED' | translate}}</div>
    </div>
    
    <input type="submit" ng-click="update(module)" value="{{'SAVE' | translate}}" ng-disabled="form.$invalid" />
</form>