<div class="site-title" ng-if="module.isHomePage"><h2 class="title title-center"><span>{{siteTitle.value}}</span></h2></div>

<ew-static-dashboard ng-if="allElements && module.moduleType == 0" elements="allElements"></ew-static-dashboard>

<ew-news-page ng-if="module.moduleType == 1 && allNews && !singleNews" news="allNews" moduleId="module.id"></ew-news-page>

<ew-single-news-page ng-if="module.moduleType == 1 && singleNews" singlenews="singleNews" allnews="allNews" moduleid="module.id"></ew-single-news-page>
