<div class="small-module-news-container row">
    <h2 class="title title-center">
        <span>{{'NEWS' | translate}}</span>
    </h2>
    <div class="last-news-container col-md-9">
        <div class="last-news-title clickable">{{lastNews.title}}</div>
        <div class="news-date"><i class="fa fa-clock-o"></i><span>{{lastNews.date | date:'fullDate'}}</span></div>
        <div class="news-content" dynamic="lastNews.body"></div>
    </div>
    <div class="other-news-container col-md-3">
        <h2 class="title title-left">
            <span>{{'RECENT_NEWS' | translate}}</span>
        </h2>
        <div ng-repeat="item in otherNews" class="small-news-container">
            <div class="small-news-title clickable">{{item.title}}</div>
            <div class="news-date"><i class="fa fa-clock-o"></i><span>{{item.date | date:'fullDate'}}</span></div>
        </div>
        <div class="add-button-container" ng-click="goToNews(module.id)">
            <span>{{'SEE_ALL_NEWS' | translate}}</span>
        </div>
    </div>
</div>
