<div class="news-page-container">
    <div class="row" ng-if="canWriteNews.access && notSavingNews">
        <div class="add-button-container" ng-click="addNews()">
            <i class="fa fa-plus"></i>
            <span>{{'ADD' | translate}}</span>
        </div>
    </div>
    <div class="news-creation-container" ng-if="creatingNews && notSavingNews">
        <div class="news-creation-row">
            <span class="news-creation-title">{{'NEWS_LANGUAGE' | translate}}</span>
            <span class="news-creation-input">
                <select type="text" ng-model="newElement.newLanguage" ng-options="item.code as item.label for item in languages"></select>
            </span>
        </div>
        <div class="news-creation-row">
            <span class="news-creation-title">{{'NEWS_TITLE' | translate}}</span>
            <span class="news-creation-input"><input type="text" ng-model="newElement.newTitle" /></span>
        </div>
        <div class="news-creation-row">
            <span class="news-creation-title">{{'NEWS_CONTENT' | translate}}</span>
            <span class="news-creation-input"><ew-textfield model="newElement.newBody"></ew-textfield></span>
        </div>
        <button type="button" class="btn btn-primary" ng-click="save()">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
    <div class="news-container" ng-repeat="item in news" ng-if="!creatingNews && notSavingNews">
        <div class="news-title clickable" ng-click="goToNews(item.id)">
            {{item.title}}
        </div>
        <div ng-if="canWriteNews.access" class="news-buttons-container">
            <i class="fa fa-pencil-square-o" ng-click="editNews(item.id)"></i>
            <i class="fa fa-trash" ng-click="deleteNews(item.id)"></i>
        </div>
        <div class="news-date"><i class="fa fa-clock-o"></i><span>{{item.date | date:'fullDate'}}</span></div>
        <div class="news-content" dynamic="item.body"></div>
    </div>
</div>

