<div class="row">
    <div class="add-button-container" ng-click="addNewElement()">
        <i class="fa fa-plus"></i>
        <span>{{'ADD' | translate}}</span>
    </div>

    <div class="add-button-container" ng-click="saveAll()">
        <i class="fa fa-floppy-o"></i>
        <span>{{'SAVE' | translate}}</span>
    </div>
</div>
<div gridster="gridsterOpts">
    <ul>
        <li gridster-item="item" ng-repeat="item in elements">
            <div class="widget-header-container">
                <div>
                    <i class="fa fa-times" ng-click="deleteWidget(item.id)"></i>
                    <i class="fa fa-pencil" ng-click="editWidget(item)"></i>
                </div>
            </div>
            <div ng-bind-html="trustAsHtml(item.moduleContentTranslations[0].content)" class="full-height"></div>
        </li>
    </ul>
</div>